body {
    background-color: rgb(68, 114, 160);
}

nav {
    border-bottom: 2px;
    border-bottom-color: darkgrey;
    border-bottom-style: solid;
    margin-bottom: 10px;
}

main {
    color: white;
    padding-bottom: 50px;
}

.container-sm {
    background-color: rgb(114, 154, 194);
    padding-bottom: 10px;
}

div {
    margin-top: 10px;
}

h2 {
    font-size: 24px;
}

#sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    border-top: 2px;
    border-top-color: darkgrey;
    border-top-style: solid;
}

small {
    margin-right: 16px;
}