/* body {
    background-color: rgb(68, 114, 160);
} */

nav {
    border-bottom: 2px;
    border-bottom-color: darkgrey;
    border-bottom-style: solid;
    margin-bottom: 10px;
}

main {
    color: rgb(255, 255, 255);
    padding-bottom: 100px;
}

.container-sm {
    padding-bottom: 10px;
}

div {
    margin-top: 10px;
}

h2 {
    font-size: 24px;
}

#sticky-footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-bottom: 10px;
    border-top: 2px;
    border-top-color: darkgrey;
    border-top-style: solid;
    margin-top: 25px;
}

small {
    margin-right: 16px;
}

.hero-image {
    background-image: url("../pics/bg-POP.PNG"); /* The image used */
    background-color: #cccccc; /* Used if the image is unavailable */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover; /* Resize the background image to cover the entire container */
  }